*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}:focus,:active{outline:none}html,body,div,ul,*{margin:0;padding:0}h1,h2,h3,pre,form,label,input,p,blockquote,th,td{margin:0;padding:0}img{border:0}ul{list-style:none}a:focus,a:active{outline:none}nav,footer,header,aside{display:block}html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}input,button,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}

/* ОТ ВЫДЕЛЕНИЯ */
.g-unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/*-----------------------------------------------------------------*/
body {
    background: white;
    font-family: Arial, sans-serif;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #EBECF0;
}
/* ------------------------------- */

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    position: relative;
    margin: 100px auto 100px auto;
}
form input, form textarea{
    margin: 10px;
    padding: 10px;
    font-size: 16px;

    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    background-color:#EBECF0;
    text-shadow: 1px 1px 0 white;
    border: none;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
}
form input:focus, form textarea:focus{
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}
form input::placeholder, form textarea::placeholder{
    color: black;
    font-size: 16px;
}
form textarea{
    min-width: 120px;
    max-width: 380px;
    min-height: 100px;
}
form [type="submit"]{
    color: white;
    cursor: pointer;

    margin-top: 40px;
    padding: 15px;
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px white,  5px 5px 20px #BABECC;
    text-shadow: none;
}
form [type="submit"]:hover{
    box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
}
form [type="submit"]:active{
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}
